@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download-btn{
  position: relative;
  background: #2EE59D;
  color: #fff;
  width: 290px;
  height: 100px;
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em;
  font-weight: 380;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.download-btn:hover{
  background-color: #0693F6;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.download-btn i{
  margin-left: 5px;
}

.countdown{
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}

.countdown span{
  color: #0693F6;
  font-size: 1em;
  font-weight: 800;
}

.pleaseWait-text{
  font-size: 1em;
  font-weight: 600;
  display: none;
}
